<div class="author">
    <h1 class="author__heading">Hi, I am Jay</h1>
    <p>Web developer and content creator.</p>
</div>

<img src="image" alt="a cat in the living room." class="cat-image" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="articles__ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>

    </ul>

    <a href="#" class="pagination">&lt; View Oder Post</a>

</section>